:root {
    --blue: #112040;
    --skyblue: #00c4cc;
    --yellow: #f5b02d;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    background-color: var(--skyblue);
    font-family: 'Comic Neue', cursive;
}
h1, h2, h3 {
    font-weight: 900;
    margin: 1rem 0 4rem 0;
    line-height: 1.8;
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 5.8rem;
}
h3 {
    font-size: 5rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

/* Utilities */
.text-center {
    text-align: center;
}

/* Nav y Header */

.header-content {
    background-color: #112040;
}
.site-name {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    padding-top: 2rem;
    font-weight: 600;
    color: var(--yellow);
    margin: 0;
    line-height: .9;
}

.site-name span {
    background-color: #fff;
    color: var(--blue);
    border-radius: .5rem;
}


.nav {
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0;
    text-align: center;
}
@media (min-width: 992px) {
    .nav {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.nav a {
    color: #fff;
    font-size: 2rem;
    padding: 2rem 0;
    transition: color .3s;
}
.nav a:hover {
    color: var(--yellow);
}

/* About */
.about {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url("../img/infamily_onlydino.png"), url("../img/infamilypasto.png"),url("../img/infamily_cielito-dia.png"), url("../img/logo_info.png"), url("../img/infamilyletrita.png");
    background-size: 25rem, 80rem, 50rem, 40rem, 30rem;
    background-position: bottom left, bottom left, top left, center bottom, center 90rem;
    background-repeat: no-repeat, repeat-x, repeat-x, no-repeat;
    min-height: 20rem;
    padding: 5rem 2rem;
    color: #fff;
}

@media (min-width: 990px) {
    .about {
        grid-template-columns: repeat(2, 1fr);
        max-height: 70rem;
        margin-bottom: 5rem;
    }
    .about-content {
        grid-column: 2 / 3;
        padding: 2rem 5rem;
    }
}

.about h2 {
    line-height: 1;
    -webkit-text-stroke: .2rem #000 ;
    font-size: 6rem;
}
@media (min-width: 1280px) {
    .about h2 {
        font-size: 10rem;
        -webkit-text-stroke: .3rem #000 ;
    }
}

.about-text {
    font-size: 2.5rem;
    font-weight: 900;
}


/* Mision y Vision */
@media (min-width: 992px) {
    .mv {
        max-width: 150rem;
    }
}


.mv h3 {
    color: var(--yellow);
}

.mv p {
    font-size: 2.3rem;
    color: #fff;
}

.mv-grid {
    padding: 5rem 0;
}
@media (min-width: 992px) {
    .mv-grid {
        display: flex;
        justify-content: space-between;
    }
}

.mision, .vision {
    background-color: #112040;
}
@media (min-width: 768px) {
    .mision, .vision {
        max-width: 50rem;
        border: solid .5rem var(--yellow);
        border-radius: 2rem;
    }
}

.mision {
    margin-bottom: 3rem;
}


.mision-content, .vision-content {
    padding: 3rem;
}
@media (min-width: 768px) {
    .mision-content, .vision-content {
        padding: 1.5rem;
    }
}
